*{ /* '*' is the universal selector */
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Others are the class selector*/
.header{
    background-color: teal;
    color: white;
    line-height: 50px; /* Sets the text or everything to the center, works as padding can be said */
}
.container{
    width: 1180px;
    margin: 0 auto;
    display: flex;
}
.main-menu{
    margin: auto;
}
.nav-items {
    display: flex;
    flex-wrap: wrap;
}
.nav-items li{
    display: inline-block;
}
.nav-items li a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
.nav-items li a:hover{ /* Hover works on sub-class but here is just the class and so it will work on it as well*/
    background-color: rgb(5, 39, 39);
    padding: 20px;
}
.hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
.hamburger:focus {
    outline: none;
}
.section {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
}
.whole {
    display: flex;
    margin-top: 2px;
}
.detail {
    padding-top: 30px;
}
.body {
    /* margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto auto; */
    animation: fadeIn 1.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        /* margin-left: 50%; */
    }
    to {
        opacity: 1;
        /* margin-right: 0%; */
    }
    
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* margin: 0 auto; */
  /* margin: 0;
  padding: 0; */
}

.cards_item {
  /* display: flex; */
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 40%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  padding: 10px;
  /* border-radius: 0.25rem; */
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow: hidden; */
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  /* margin: 0px; */
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.card img {
    width: 100%;
}
.three {
    padding-top: 20px;
}
.back {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}
.footer {
    color: #fff;
}
.footer .social a {
    margin: 0 10px;
    color: #fff;
}

@media(max-width: 998px) {
    
    .nav-items {
        display: none;
        /* width: 100%; */
        flex-direction: column;
    }
    .nav-items.show {
        display: flex;
        align-items: center;
    }
    .hamburger {
        display: block;
    }
}

/* Mobile */
@media(max-width: 500px) {

    .container .flex {
        flex-direction: column;
    }

    .container ul {
        padding: 10px;
    }

}